[submodule "maths/lib/foundry-huff"]
	path = maths/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "gettersetter/lib/foundry-huff"]
	path = gettersetter/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "enum/lib/foundry-huff"]
	path = enum/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "mapping/lib/foundry-huff"]
	path = mapping/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "events/lib/foundry-huff"]
	path = events/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "payables/lib/foundry-huff"]
	path = payables/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "structs/lib/foundry-huff"]
	path = structs/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "arrays/lib/foundry-huff"]
	path = arrays/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
