# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
*.iml

# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Ignore build and compilation files
node_modules/
build/
dist/
target/

# Ignore log files
*.log

# Ignore configuration files
.env
**/.env
**/*.env
config.json

# Ignore miscellaneous files
*.tmp
*.bak
*.swp

# VSCode
.vscode
.idea

dist

**/lib